@{
    ViewData["Title"] = "StarGazing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>Placeholder page</p>

<p>Github Link: </p>
<p>Linkedin Link: </p>
<p>Email me: </p>

<img src="~/img/topGun.gif" />