@{
    ViewData["Title"] = "StarGazing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui--appbar-height"></div>
<div class="mui-container-fluid">
    <br>
    <h1>Mr. Grape</h1>
    <p>
        So much content, all of it. Tons of content here all about me and my things and stuff. Constantly talking about me, me, me! Whoa, did you hear? I'm a dude! But wait, there's more? She's a dude? Is anyone else a dude? Everyone's a dude?!? Well damn, that sounds pretty nice. Wanna see some gifs? Peruse the site, you'll find random silly things all over the place. Oh, in case you were wondering, you really needn't worry about reading any of the text, its mostly pointless filler. 
    </p>
    <p>
        Speaking of filler text, its time to blast out some words! Maybe a story or something. Hmm. Well I've got nothing off the top of my head, so I'll just end this paragraph here. What a let down, eh?
    </p>
</div>

